mat-card{
  width:50%;
  height:1050px;
  background-color: rgb(238, 238, 238) ;
  margin:auto;

}
mat-form-field,
textarea{
  width:100%
}
button{

  margin-top: 1px;
  width: 50%;
  color: white;
  height: 40px;
  background-color: #3F51B5;
  left:23%;
  margin-bottom: 10px;

}

.Submit{

  margin-top: 10px;
  width: 50%;
  color: white;
  height: 40px;
  background-color: #3F51B5;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

button:hover {

  color:#e6e9ff;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  transition-duration: 0.4s;
  text-decoration: none;

}


.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  margin-right: 100px;

}

.example-margin {
  margin: 0 10px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

mat-card-title{

  color:White;
  text-align:center;
  border: 20px solid rgb(75, 94, 206);
  background:  rgb(75, 94, 206);
  margin-bottom: 2rem;

}

.Image{
  visibility: hidden;

}
.image-preview{
  height:5rem;
  margin: 1rem 0;
}
.image-preview img{
  height:10%;
}

.form-labell{
  width: 50%;

}
