
<h1 style="text-align: center;">Welcome to the EMS Chat </h1>
<h2 style="text-align: center;">Please enter your Username and Select a Room before sending a message</h2>
    <mat-card>
<div class="row">
        <div class="col-sm-4">
            <div class="form-group" align="center">
              <label class="steps">Step 1: </label>
              <mat-form-field class="example-full-widthh" appearance="outline">
              <mat-label for="username">Username</mat-label>
                <input  matInput type="text" [(ngModel)]= "user" class="form-control" id="username" placeholder="Enter Username">
              </mat-form-field>
            </div>
        </div>
        <div class="col-sm-4" align="center">
          <label class="steps">Step 2: </label>
          <mat-form-field class="example-full-widthh" appearance="outline">
            <mat-label for="roomInput">Select Room</mat-label>
            <mat-select name="roomInput" id="roomInput" class="form-control" [(ngModel)]= "room">
              <mat-option value="First Responder and Disaster Manager">1.First Responder and Disaster Manager</mat-option>
              <mat-option value=" First Responder and Emergency Responder">2. First Responder and Emergency Responder</mat-option>
              <mat-option value="First Responder and Ems Dispatcher">3. First Responder and Ems Dispatcher </mat-option>
              <mat-option value="Emergency Responder and Disaster Manager">4.Emergency Responder and Disaster Manager</mat-option>
              <mat-option value="Emergency Responder and Emergency Responder">5. Emergency Responder and Emergency Responder</mat-option>
              <mat-option value="Emergency Responder and EMS Dispatcher">6. Emergency Responder and Ems Dispatcher </mat-option>
              <mat-option value="Volunteer and EMS Dispatcher">7. Volunteer and Ems Dispatcher </mat-option>
              <mat-option value="Volunteer and Health staff">8. Volunteer and health staff </mat-option>
              <mat-option value="Disaster Manager Room 1"> Disaster Manager Room</mat-option>
              <mat-option value="EMS Dispatcher Room 2"> EMS Dispatcher Room </mat-option>
              <mat-option value="Volunteer Room 3"> Volunteers Room </mat-option>
              <mat-option value="Health staff Room 4"> Health staff Room </mat-option>




          </mat-select>
        </mat-form-field>
        </div>
        <div class="col sm-4">
            <div style="margin-top:19px;" class="pull-right">

                <button  class ="joinbutton" mat-raised-button color="accent" (click)= "join()">Join Room</button>
                &nbsp;&nbsp;
                <div>
                <button class="leavebutton" mat-raised-button color="primary" (click)= "leave()" >Leave Room</button>
              </div>
            </div>
        </div>
    </div>

    <div class="rows">
        <div class="well" style="height:200px;">
            <cdk-virtual-scroll-viewport itemSize="200" class="message-area">
                <div *ngFor= "let item of messageArray" class="message">
                    <span class="items"><strong>{{item.user}} : </strong> {{item.message}} </span>
                    <span class="date">{{item.date}}</span>
                </div>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>

     <div class="row">
      <div class="col-sm-8">
        <mat-form-field class="example-full-widthhh" appearance="outline" >
          <mat-label>Message</mat-label>
          <input  matInput type="text" class="fo" [(ngModel)]= "messageText"  placeholder="Enter Message Here"   >
        </mat-form-field>
        <button  mat-raised-button  class="send" (click)= "sendMessage()"> <mat-icon>send</mat-icon> Send</button>

        &nbsp;&nbsp;
      </div>
      <div class="col-sm-4">

      </div>
  </div>


    </mat-card>
