

<div class="container">
  <h1>Welcome to EMS Chat</h1>
  <div class="col-sm-5">
    <label for="roomInput">Choose room</label>
    <select name="roomInput" id="roomInput" class="form-control" [(ngModel)]= "room">
        <option value="Lobby">Lobby</option>
        <option value="Hall">Hall</option>
        <option value="Deluxe">Deluxe</option>
    </select>
</div>
  <app-chatusers (userNameEvent)= "userNameUpdate($event)" *ngIf= "!userName"></app-chatusers>
  <div class="chatbox">
    <div class="chatbox__user-list">
      <h2>User list</h2>
      <div class="chatbox__user--active" *ngFor="let user of userList" >
        <p>{{ user }}</p>
      </div>
    </div>

    <div class="messages_list">
      <div class="chatbox__messages" *ngFor= "let msg of messageList" [ngClass]= "{mine: msg.mine}">
        <div class="user-message">
          <div class="message-box">
            <p class="name">{{ msg.userName }}</p>
            <br/>
            <p class="message">{{ msg.message }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="send-message">


    <input  type="text" [(ngModel)]= "message">


    <button mat-raised-button  (click)="sendMessage()">Send</button>
  </div>
</div>


