button{
  color:rgb(3, 61, 109)
}



mat-card{
  width:80%;
  height:650px;
  background-color: rgb(245, 245, 245) ;
  margin:auto;
}

h2 {
  font-family: " Times, serif";
  font-size: 30px;
  font-weight:bold;
  border-bottom: 2px solid black;
  padding-bottom:14px;



}


button:hover {

  color:#e6e9ff;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  transition-duration: 0.4s;
  text-decoration: none;

}
button {

  font-size: 15px;

  width: 45%;
  color: white;
  height: 40px;
  background-color: #0b31ad;
  left: 55%;

}
