
<mat-card class = "formdetails" *ngIf= "userDetails">
  <mat-card-title>
    Incident Report Form
    </mat-card-title>


  <mat-card-subtitle > <span >Subject : </span>  <h3>  {{userDetails.Subject}} </h3></mat-card-subtitle>
  <mat-card-subtitle> <span>Phone Number : </span> <h3> {{userDetails.PhoneNo}} </h3></mat-card-subtitle>
  <mat-card-subtitle><span> Street : </span> <h3>  {{userDetails.Street}}</h3></mat-card-subtitle>
  <mat-card-subtitle><span> City : </span> <h3>  {{userDetails.City}}  </h3> </mat-card-subtitle>
  <mat-card-subtitle> <span>Zipcode : </span> <h3> {{userDetails.ZipCode}}</h3></mat-card-subtitle>
  <mat-card-subtitle> <span>Incident Description : </span> <h3> {{userDetails.Incident_Des}} </h3></mat-card-subtitle>
  <mat-card-subtitle> <span>IncidentDatw: </span> <h3> {{userDetails.Incident_Date}} </h3></mat-card-subtitle>
  <mat-card-subtitle> <span>Upload Date : </span> <h3> {{userDetails.UploadDate}} </h3></mat-card-subtitle>


</mat-card>
