
<div>

  <mat-card>

  <mat-card-title>
    Incident Reports
    </mat-card-title>

    <button class ="addd" mat-raised-button  routerLink  ="/addincidentform" routerLinkActive = "mat-accent" >Add Form</button>
  <div>
    <mat-form-field>
      <mat-label>Search </mat-label>
      <span matSuffix> <i class="material-icons">search</i> </span>
      <input matInput (keyup)= "applyFilter($event)" placeholder="Enter Parameter" #input>
    </mat-form-field>
   </div>
    <div>
      <table mat-table [dataSource] = "dataSource" class="data-table" matSort>

        <ng-container matColumnDef="PublicID"  >
          <th mat-header-cell *matHeaderCellDef mat-sort-header> UserID </th>
          <td mat-cell *matCellDef="let element"> {{element.PublicID}} {{element.LawID}} </td>
        </ng-container>

        <ng-container matColumnDef="Subject">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Subject </th>
          <td mat-cell *matCellDef="let element"> {{element.Subject}} </td>
        </ng-container>


        <ng-container matColumnDef="UploadDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Upload Date</th>
          <td mat-cell *matCellDef= "let element"> {{element.UploadDate}} </td>
        </ng-container>

        <ng-container matColumnDef="Actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef= "let element"> <button mat-raised-button  [routerLink] ="['/viewincidentform', element._id]"> View </button> | <button mat-raised-button [routerLink] ="['/update', element._id]" > Edit </button> |  <button mat-raised-button [routerLink] ="['/delete', element._id]" > Delete </button> </td>

        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>

      </table>

      <mat-paginator [pageSizeOptions]= "[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>


    </mat-card>


