<mat-card>
  <mat-card-title> Missing Person Form</mat-card-title>


  <form [formGroup]= "form"   (submit)= "SaveData()">

    <div>
      <button mat-stroked-button type="button" (click)= "filePicker.click()">Pick Image</button>
      <input class = "Image" type="file" name="productImage" #filePicker (change)= "select($event)" />
    </div>

    <div *ngIf= "imageData">
      <img [src]= "imageData" />
    </div>
    <br>


        <mat-form-field appearance="fill">
          <mat-label class="form-label">Firstname</mat-label>
          <input matInput type="Firstname" class="form-control" placeholder="Firstname" formControlName="Firstname">
          <mat-error *ngIf= "form.get('Firstname').invalid"> Please enter correct firstname.</mat-error>
         </mat-form-field>

         <mat-form-field appearance="fill">
          <mat-label class="form-label">Surname</mat-label>
          <input matInput type= "Surname" class="form-control" placeholder="Surname" formControlName="Surname">
          <mat-error *ngIf= "form.get('Surname').invalid"> Please enter Surname.</mat-error>
        </mat-form-field>

         <section class="example-section">
          <mat-label >Gender:</mat-label>
          <mat-radio-group type="Gender" class="form-control" placeholder="Gender" formControlName="Gender">
            <mat-radio-button class="example-margin" value="Male">Male</mat-radio-button>
            <mat-radio-button class="example-margin" value="Female">Female</mat-radio-button>
            <mat-radio-button class="example-margin" value="Other">Other</mat-radio-button>
            <mat-error *ngIf= "form.get('Gender').invalid"> Please Select Gender.</mat-error>

          </mat-radio-group>
        </section>

        <mat-form-field appearance="fill">
          <mat-label class="form-label">Age</mat-label>
          <input matInput type="Age" class="form-control" placeholder="Age" formControlName="Age">
        </mat-form-field>

         <mat-form-field appearance="fill">
          <mat-label class="form-label">Height</mat-label>
          <input matInput type="Height" class="form-control" placeholder="Height" formControlName="Height">
        </mat-form-field>

         <p>
          <mat-label>Address</mat-label>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Street</mat-label>
            <input  matInput type="Street" class="form-control" placeholder="Street" formControlName="Street">
            <textarea matInput ></textarea>
          </mat-form-field>
        </p>

        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>City</mat-label>
            <input  matInput type="City" class="form-control" placeholder="City" formControlName="City"  >
          </mat-form-field></td>

          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Postal Code</mat-label>
            <input  matInput type="ZipCode" class="form-control" placeholder="ZipCode" formControlName="ZipCode" maxlength="5"   >
          </mat-form-field></td>
        </tr></table>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label >Person Description:</mat-label>
          <input matInput type="Person_Descript" class="form-control" placeholder="Person_Descript" formControlName="Person_Descript" >
          <textarea matInput ></textarea>
        </mat-form-field>

        <button mat-raised-button  type= "submit"> Submit </button>


  </form>

  </mat-card>
