<mat-card>
  <mat-card-title> Update User</mat-card-title>


  <form [formGroup]= "form" (submit) ="SaveData()" >

        <mat-form-field appearance="fill">
          <mat-label class="form-label">Username</mat-label>
          <input matInput type="Username" class="form-control" placeholder="Username" formControlName="Username">
          <mat-error *ngIf= "form.get('Username').invalid"> Please enter Subject.</mat-error>
         </mat-form-field>

         <mat-form-field appearance="fill">
          <mat-label >Userclass</mat-label>
          <mat-select  class="form-control"  formControlName = "Userclass"  type = " Userclass" >
            <mat-option value="Adminstrator">Adminstrator</mat-option>
            <mat-option value="Public">Public User</mat-option>
            <mat-option value="Volunteer">Volunteer User</mat-option>
            <mat-option value="EMS Dispatcher">EMS Dispatcher User</mat-option>
            <mat-option value="Emergency Responder">Emergency Responder</mat-option>
            <mat-option value="First Responder">First Responder</mat-option>
            <mat-option value="Disaster Manager">Disaster Manager</mat-option>
            <mat-option value="Law Enforcement">Law Enforcement User</mat-option>
            <mat-option value="Health staff">Health Staff User</mat-option>
          </mat-select>
          <mat-error *ngIf= "form.get('Userclass').invalid"> Please enter correct Userclass.</mat-error>
        </mat-form-field>

         <mat-form-field appearance="fill">
          <mat-label class="form-label">Firstname</mat-label>
          <input matInput type="Firstname" class="form-control" placeholder="Firstname" formControlName="Firstname">
          <mat-error *ngIf= "form.get('Firstname').invalid"> Please enter Firstname.</mat-error>
         </mat-form-field>

         <mat-form-field appearance="fill">
          <mat-label class="form-label">Surname</mat-label>
          <input matInput type="Lastname" class="form-control" placeholder="Lastname" formControlName="Lastname">
          <mat-error *ngIf= "form.get('Lastname').invalid"> Please enter surname.</mat-error>
         </mat-form-field>

         <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'"   matInput type = "Password" placeholder ="Password"  formControlName="Password" >
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf= "form.get('Password').invalid"> Please enter valid password!</mat-error>
        </mat-form-field>

         <mat-form-field appearance="fill">
          <mat-label class="form-label">Email</mat-label>
          <input matInput type="Email" class="form-control" placeholder="paul@gmail.com" formControlName="Email">
          <mat-error *ngIf= "form.get('Email').invalid"> Please enter Email.</mat-error>
         </mat-form-field>





        <button mat-raised-button  type= "submit"> Submit </button>


  </form>

  </mat-card>
