button{
  color:rgb(0, 96, 160)
}



mat-card{
  width:80%;
  height:600px;
  background-color: rgb(245, 245, 245) ;
  margin:auto;
}

h2 {
  font-family: " Times, serif";
  font-size: 30px;
  font-weight:bold;
  border-bottom: 2px solid black;
  padding-bottom:14px;



}



