

mat-card{
  width:35%;
  height:550px;
  background-color: rgb(245, 245, 245) ;
  margin:auto;
}

h2 {
  font-family: " Times, serif";
  font-size: 30px;
  font-weight:bold;
  border-bottom: 2px solid black;
  padding-bottom:14px;



}
