mat-card{
  width:50%;
  height:560px;
  background-color: rgb(238, 238, 238) ;
  margin:auto;
}
mat-form-field,
textarea{
  width:100%
}
button{

  margin-top: 10px;
  width: 100%;
  color: white;
  height: 40px;
  background-color: #3F51B5
}

mat-card-title{

  font-family: " Times, serif";
  font-size: 30px;
  font-weight: 550;
  border-bottom: 1px solid black;
  margin-bottom: 50px;
  padding-bottom:14px;


}
