mat-card{
  width:50%;
  height:500px;
  background-color: rgb(238, 238, 238) ;
  margin:auto;
}
mat-form-field,
textarea{
  width:100%
}
button{

  margin-top: 10px;
  width: 100%;
  color: white;
  height: 40px;
  background-color: #3F51B5
}
