<mat-toolbar>
  <button mat-icon-button (click)= "toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="header" >Welcome to EMS</span>
  <span class = "spacer"></span>
  <div class="header"  *ngIf= "IsLogged()">
    {{userDisplayName}} {{userDisplaySurname}} | {{userDisplayRole}}
  </div>
  <ul>
    <li  >
      <a *ngIf= "!IsLogged()" mat-button routerLink ="/login" routerLinkActive = "mat-accent">Login</a>
    </li>

    <li >
      <a mat-button  *ngIf= "!IsLogged()" routerLink ="/signup" routerLinkActive = "mat-accent">SignUp</a>
    </li>
    <li >
      <button mat-button  *ngIf= "IsLogged()"(click)= "onlogout()" >Logout</button>
    </li>
  </ul>



</mat-toolbar>
