<mat-card>
  <mat-card-title>
    Statistics Section
  </mat-card-title>
  <div>
  <button mat-raised-button  routerLink ="/piechart" routerLinkActive = "mat-accent" > Users and User Roles  </button>
</div>
<div>
  <button mat-raised-button  routerLink ="/chart" routerLinkActive = "mat-accent"> Number of Missing Persons Per Month </button>
</div>
<div>
  <button mat-raised-button  routerLink ="/incidentchart"   routerLinkActive = "mat-accent" > Number of Incidents Per Month </button>
</div>
<div>
  <button mat-raised-button  routerLink ="/orderchart"   routerLinkActive = "mat-accent" > Orders Per Month </button>
</div>
<div>
  <button mat-raised-button  routerLink ="/patientchart"   routerLinkActive = "mat-accent" > Number of Patients Per Month</button>
</div>
<div>
  <button mat-raised-button  routerLink ="/onsitechart"   routerLinkActive = "mat-accent" > Number of Victims Per Month  </button>
</div>
<div>
  <button mat-raised-button  routerLink ="/genderchart"   routerLinkActive = "mat-accent" > Number of Missing Persons for Each Gender Type  </button>
</div>


</mat-card>
