<<mat-card>

  <mat-card-title>
    Victim Patient Dashboard In Hospital
    </mat-card-title>

    <button class ="addd" mat-raised-button  routerLink  ="/addhospitalform" routerLinkActive = "mat-accent" >Add Form</button>

      <div>
      <table mat-table [dataSource] = "listMissing" class=" data-table">

        <ng-container matColumnDef="VolunteerID"  >
          <th mat-header-cell *matHeaderCellDef> UserID </th>
          <td mat-cell *matCellDef="let element"> {{element.VolunteerID}} {{element.HealthStaffID}} </td>
        </ng-container>

        <ng-container matColumnDef="Firstname">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.Firstname}} {{element.Surname}} </td>
        </ng-container>

        <ng-container matColumnDef="Address">
          <th mat-header-cell *matHeaderCellDef> Location Last Seen</th>
          <td mat-cell *matCellDef="let element"> {{element.Street}},{{element.City}} </td>
        </ng-container>


        <ng-container matColumnDef="Gender">
          <th mat-header-cell *matHeaderCellDef> Gender</th>
          <td mat-cell *matCellDef="let element"> {{element.Gender}} </td>
        </ng-container>


        <ng-container matColumnDef="DateTime">
          <th mat-header-cell *matHeaderCellDef> Upload Date</th>
          <td mat-cell *matCellDef="let element"> {{element.ModifiedDate}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef= "displayedColumns"></tr>
        <tr mat-row *matRowDef= "let row; columns: displayedColumns;"></tr>

        <ng-container matColumnDef="Action">

          <th mat-header-cell *matHeaderCellDef> Actions </th>

          <td mat-cell *matCellDef= "let element"> <button mat-raised-button  [routerLink] ="['/viewonsiteform', element._id]"> View </button> | <button mat-raised-button [routerLink] ="['/onsiteupdate', element._id]" > Edit </button> |  <button mat-raised-button [routerLink] ="['/delete', element._id]" > Delete </button> </td>

        </ng-container>
      </table>


    </div>
    </mat-card>

